<section id="topNews" class="container">
  <p class="text-lg text-[#5E6282]">Media</p>
  <p class="text-[#14183E] font-bold text-6xl">Top News</p>
  <div class="flex flex-row align-baseline justify-around w-2/3 mx-auto">
    <button
      type="button"
      class="w-[726] h-[41] text-[#0F526E] bg-[#E3E3E3] hover:bg-[#0ECEFF] hover:text-white transition duration-700 ease-in-out focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
    >
      All News
    </button>
    @for (category of newsCategory(); track $index) {
    <button
      type="button"
      (click)="selectedCategory(category.name, category.id)"
      class="w-[726] h-[41] text-[#0F526E] bg-[#E3E3E3] hover:bg-[#0ECEFF] hover:text-white transition duration-700 ease-in-out focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
    >
      {{ category.name }}
    </button>
    }
  </div>
  <div class="flex flex-row align-baseline justify-around">
    <div class="my-3 grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
      @for (new of handleNumberOfNews(); track $index) { @if (new.showOnHomepage
      == "yes") {
      <div
        class="col-span-1 shadow-xl bg-white border border-gray-200 rounded-2xl mx-7 my-6 w-[360px] h-[530px]"
      >
        <a href="#">
          <img
            class="rounded-t-2xl w-full h-96"
            [src]="new.urlToImage"
            [alt]="new.title"
          />
        </a>
        <div class="p-5">
          <p
            class="mb-3 font-normal text-lg text-gray-700 truncate sm:line-clamp-3 sm:text-ellipsis sm:overflow-hidden"
          >
            {{ new.content }}
          </p>
          <div class="flex flex-row align-baseline justify-start">
            <mat-icon class="text-[#0ECEFF]">calendar_month</mat-icon>
            <span class="text-base text-[#707070]">
              {{ new.publishedDate }}
            </span>
          </div>
          <div class="flex flex-row align-baseline justify-between mb-3">
            <div
              class="bg-gray-100 text-gray-800 text-sm h-max font-medium me-2 px-2.5 py-0.5 rounded-full my-auto"
            >
              {{ returnCategory(new.categoryID) }}
            </div>
            <div class="my-auto text-[#0ECEFF]">
              <button mat-icon-button (click)="handleMyFav(new.id)">
                <mat-icon class="transition duration-700 ease-in-out">{{
                  changeIcon(new.id)
                }}</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>share</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      } }
    </div>
  </div>
  @if (!showAll()) {
  <div class="mx-auto w-full">
    <button
      (click)="showAllNews()"
      type="button"
      class="focus:outline-none rounded-lg text-sm px-5 py-2.5 me-2 mb-2 w-[266] h-[60] bg-[#FF7C16] text-white"
    >
      View All News
    </button>
  </div>
  }
</section>
