<div class="w-full flex h-svh max-h-svh">
  <div class="flex h-full flex-1 flex-col">
    <!-- Main Content Area-->
    <div class="flex h-full flex-col justify-between overflow-y-scroll">
      <div class="w-full">
        <!-- Header -->
        <app-top-bar />
      </div>

      <div>
        <!-- Content -->
        <h1 class="text-center text-xl"><router-outlet></router-outlet></h1>
      </div>

      <div class="w-full">
        <!-- Footer -->
        <div class="bg-yellow-600 py-12">
          <h1 class="text-center text-xl">Footer</h1>
        </div>
      </div>
    </div>
  </div>
</div>
